body {
  background-color: #001d4d;
}

.navbar-logo {
  font-size: 60px;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

button {
  border: none;
  font-family: inherit;
  background-color: #20B2AA;
  color: #000080;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}
button:hover, button:focus {
  cursor: pointer;
  opacity: 0.8;
}
.button__secondary {
  background-color: #e0b354;
  color: #ffffff;
}

.pokemon-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style: none;
}

  .list-group-item {
    border: none;
    text-align: center;
}

img {
    width: 200px;
    height: 200px;
  }

.modal-content {
  text-align: center;
  text-transform: capitalize;
}

.modal-header {
  background-color: #454545;
  height: 50px;
  display: flex;
}

.modal-title {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  top: 2%;
  position: absolute;
  color: white;
}

@media (max-width: 900px) {
  .pokemon-list {
    grid-template-columns: 1fr 1fr;
  }
  .logo {
    margin-left: 5px;
  }
}

@media all and (max-width: 550px) {
  .pokemon-list {
    grid-template-columns: 1fr;
  }
}
